body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a:hover {
  color:#0070BC;
}

a {
  text-decoration: none;
  color: #ffffff;
}

article {
  padding-top: 100px;
}

h1 {
font-size: 200%;
font-weight: 600;
text-transform: capitalize;
line-height: 200%
}

h3 {
font-size: 125%;
font-weight: 600
line-height: 200%
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author, p {
line-height: 200%;
}

.story-text, p {
line-height: normal;
}
